<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Salon booking service</display-name>

    <!-- Servlets -->

    <servlet>
        <servlet-name>frontServlet</servlet-name>
        <servlet-class>com.salon.booking.controller.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>frontServlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- Filters -->

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.salon.booking.filter.EncodingFilter</filter-class>
    </filter>

    <filter>
        <filter-name>crossScriptingFilter</filter-name>
        <filter-class>com.salon.booking.filter.CrossScriptingFilter</filter-class>
    </filter>

    <filter>
        <filter-name>localeFilter</filter-name>
        <filter-class>com.salon.booking.filter.LocaleFilter</filter-class>
    </filter>

    <filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>com.salon.booking.filter.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>crossScriptingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>localeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Errors -->

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/errors/404.jsp</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/views/errors/403.jsp</location>
    </error-page>

    <error-page>
        <exception-type>com.salon.booking.command.exception.HttpMethodNotAllowedException</exception-type>
        <location>/WEB-INF/views/errors/405.jsp</location>
    </error-page>

    <error-page>
        <exception-type>com.salon.booking.command.exception.HttpForbiddenException</exception-type>
        <location>/WEB-INF/views/errors/403.jsp</location>
    </error-page>

    <error-page>
        <exception-type>com.salon.booking.command.exception.InvalidRequestParameterException</exception-type>
        <location>/WEB-INF/views/errors/400.jsp</location>
    </error-page>

    <error-page>
        <exception-type>com.salon.booking.service.exception.NoSuchItemException</exception-type>
        <location>/WEB-INF/views/errors/400.jsp</location>
    </error-page>
</web-app>
